{{# partial "titulo" }}	
	<title>QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>Bienvenido a Que Comemos</h1>
</div>	
{{/partial}}
				
{{> layout.hbs }}